# Print Function and Formatting



### Print() Function

When we write our code to files, if we want to print a value to the screen, we use the *print* function.

In [1]:
print(35)

35

In [2]:
print(3.14)

3.14

In [3]:
a = 4
b = 15
print(a+b)

19

In [4]:
print("irşad küreş")

irşad küreş

In [5]:
print("irşad'ın bugün dersi var.")

irşad'ın bugün dersi var.

So what do we do if we want to print several values in the same row? For this we put the character **,** between our values.

In [6]:
print("irşad",12,545,66767,3.56)

irşad 12 545 66767 3.56

In [7]:
print("irşad","küreş","techdil")

irşad küreş techdil

### Special Characters in Strings


##### \n character

In [8]:
print("Merhaba\nNasılsın\nİyi misin")

Merhaba
Nasılsın
İyi misin

In [9]:
print("Selam\nGençler")

Selam
Gençler

#### \t character

In [10]:
print("Ocak\tMart\tŞubat")

Ocak	Mart	Şubat

In [11]:
print("a\t\t\t\t\tb")

a					b

### type() function

*type()* tells the data type of the value passed into the function.

In [12]:
# Integer type
a = 65
print(type(a))

<class 'int'>

In [13]:
# Float (Decimal) type
a = 5.87
print(type(a))

<class 'float'>

In [14]:
# String type
a = "irşad"
print(type(a))

<class 'str'>

### Properties of the Print() Function



#### sep parameter

The sep parameter, which can be used in the *print()* function, allows the characters we want to be placed between the values we print. If we don't use this parameter, we know that by default space is placed between values.

In [15]:
print(3,4,5,6,7,8,9)

3 4 5 6 7 8 9

In [16]:
# A dot is placed between the values thanks to the sep parameter.
print(3,4,5,6,7,8,9,sep = ".")

3.4.5.6.7.8.9

In [18]:
# The "/" symbol is placed between the values.
print("28","01","2023",sep = "/")

28/01/2023

In [19]:
print("irşad","küreş","techdil",sep = "\n")

irşad
küreş
techdil

#### Star Parameters
If we put * at the beginning of a string and send it to the print function, this string will be separated into characters and each character will be treated as a separate string and printed on the screen.

In [20]:
# Spaces are placed between characters by default.
print(*"Python")

P y t h o n

In [21]:
print(*"Python",sep = "\n")

P
y
t
h
o
n

In [22]:
print(*"irşad",sep =".")

i.r.ş.a.d

# Formatting

While programming, in some places a predefined string, float, int etc. We may want to insert values. For such cases, there is a *format()* function in Python. For example, we have 3 integer values in our program and we want to print them in a string. We can use *format()* function for this. Since the *format()* function has so many features, I will only show the feature we use the most here.

In [27]:
"{} {} {}".format(3.1423,5.324,7.324324)

'3.1423 5.324 7.324324'

In [28]:
a = 3
b = 4
print("{} + {} 'nin toplamı {} 'dır".format(a,b,a+b))

3 + 4 'nin toplamı 7 'dır

In [29]:
"{1} {0} {2}".format(43,"irşad",54)

'irşad 43 54'

In [30]:
# The usage inside the curly brackets says we only want to get up to 2 digits of the decimal part.
"{:.2f} {:.2f} {:.3f}".format(3.1463,5.324,7.324324)

'3.15 5.32 7.324'

When you need to use the format function, you can use the following website;
https://pyformat.info/

WELL DONE !!!