# lists

Now let's try to learn about our new datatype, **lists**. Lists are very similar to strings in their structure and are a very useful datatype where they are used. Just like strings, they are indexed, split and there are methods on which we can perform different operations. However, lists have important differences from strings. As we know about Strings, strings are an immutable data type. However, our lists are a mutable datatype.

We can store elements of any datatype in a list. In this sense it is similar to an ordered array. So what will we learn about it?      

           1.Creating a list
           2.Indexing 
           3.Basic List Methods and Operations
           4.Nested Lists                                                                                                
          
   
### Creating a List

Lists can be created by enclosing data or values in a *[]* square bracket.

In [1]:
# list variable. We can store values from different data types.
liste =  [3,4,5,6,"Elma",3.14,5.324]
liste

[3, 4, 5, 6, 'Elma', 3.14, 5.324]

In [2]:
liste2 = [3,4,5,6,7,8,9]
liste2

[3, 4, 5, 6, 7, 8, 9]

In [3]:
# empty list
bos_liste = []
bos_liste

[]

In [4]:
# Empty list. It can also be created with the list() function.
bos_liste = list()
bos_liste

[]

In [5]:
# The len function can also be used on lists.
liste3 = [3,4,5,6,6,7,8,9,0,0,0]
len(liste3)

11

A string can be converted to a list using the *list()* function.

In [6]:
s =  "Merhaba"
lst =  list(s)
lst

['M', 'e', 'r', 'h', 'a', 'b', 'a']

### Indexing 

Indexing and splitting lists is exactly the same as strings.

In [7]:
liste = [3,4,5,6,7,8,9,10]
liste

[3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# 0. element 
liste[0]

3

In [10]:
# 4. element 
liste[4]

7

In [12]:
# The Last Element
liste[len(liste)-1]

10

In [13]:
# The Last Element
liste[-1]

10

In [14]:
# First Element
liste[-len(liste)]

3

In [16]:
liste[:4]

[3, 4, 5, 6]

In [17]:
liste[1:5]

[4, 5, 6, 7]

In [18]:
liste[5:]

[8, 9, 10]

In [19]:
liste[::2]

[3, 5, 7, 9]

In [20]:
liste[::-1]

[10, 9, 8, 7, 6, 5, 4, 3]

### Basic List Methods and Operations



We can add a list together like strings.

In [21]:
liste1 =  [1,2,3,4,5]
liste2 =  [6,7,8,9,10]
liste1 + liste2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
liste = [1,2,3,4]
liste =  liste + ["irşad"]

In [23]:
liste

[1, 2, 3, 4, 'irşad']

In [24]:
# Lists can be changed directly.
liste[0] = 10

In [25]:
liste

[10, 2, 3, 4, 'irşad']

In [26]:
# Such use is also possible.
liste[:2] = [40,50]

In [27]:
liste

[40, 50, 3, 4, 'irşad']

In [28]:
liste = [1,2,3,4,5]
liste * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [29]:
liste

[1, 2, 3, 4, 5]

In [30]:
liste = liste * 3

In [31]:
liste

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]



#### append method
The append method allows us to add the given value to the list.

In [32]:
liste = [3,4,5,6]
liste.append(7)
liste

[3, 4, 5, 6, 7]

In [33]:
liste.append("iraşd")

In [34]:
liste

[3, 4, 5, 6, 7, 'iraşd']

#### pop method
This method removes the last element of the list if we do not give a value, and the element in the index corresponding to the value we give, from the list and prints the discarded element on the screen.

In [35]:
liste = [1,2,3,4,5]
liste.pop()

5

In [36]:
liste

[1, 2, 3, 4]

In [37]:
eleman = liste.pop(2)

In [38]:
eleman

3

In [39]:
liste

[1, 2, 4]

In [40]:
liste.append("iraşd")
liste

[1, 2, 4, 'iraşd']

In [42]:
liste.pop()

4

In [43]:
liste

[1, 2]

In [44]:
liste = [12,54,67,67]

In [45]:
liste[50]

IndexError: list index out of range

#### sort method
The sort method allows us to sort the elements of the list. Let's take a look at its use now.

In [46]:
liste = [(34,1,56,334,23,2,3,19]
liste.sort() # In order from smallest to largest.
liste

[1, 2, 3, 19, 23, 34, 56, 334]

In [47]:
liste.sort(reverse = True) # Sort from largest to smallest.
liste

[334, 56, 34, 23, 19, 3, 2, 1]

In [48]:
liste = ["Elma","Armut","Muz","Kiraz"]
liste.sort() # Alphabetically from smallest to largest
liste

['Armut', 'Elma', 'Kiraz', 'Muz']

In [49]:
liste = ["Elma","Armut","Muz","Kiraz"]
liste.sort(reverse = True) # Alphabetically from largest to smallest 
liste

['Muz', 'Kiraz', 'Elma', 'Armut']

### Nested Lists
It is possible to have another list inside a list. These are called nested lists in Python. This type of feature is very useful for tree structures or matrix structures in Python.

In [50]:


liste1 = [1,2,3]
liste2 = [4,5,6]
liste3 = [7,8,9]

yeniliste = [liste1,liste2,liste3]
yeniliste

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
# 0th element of 1st element
yeniliste[1][0]

4

WELL DONE !!!