# Logical Values and Comparison Operators

### Logical Values (Boolean)

*boolean* is actually a data type in Python and they have two values: **True and False**.

In [1]:
a =  True
print(type(a))

<class 'bool'>

In [2]:
b = False
print(type(b))

<class 'bool'>

In Python, a number value becomes **True** if it is different from 0, and **False** if it is 0.

In [3]:
bool(12.4)

True

In [4]:
bool(0.0)

False

In [5]:
bool(121212)

True

In [6]:
bool(-1)

True

In [7]:
bool(0)

False

Bool values are the resulting value after a comparison operator

In [8]:
1 > 2 # Since 1 is not greater than 2, the result will be False.

False

In [8]:
1 < 2 # Since 1 is less than 2, the result will be True.

True

Also, in Python, if you want to set the value of a variable later, you can temporarily set this variable to **None** (meaning unassigned).

In [9]:
a = None 
print(a)

None

In [11]:
a = 4 
print(a)

4

### Comparison Operators









<table class="table table-bordered">
<tr>
<th style="width:10%">Operatör</th><th style="width:45%">Görevi</th><th>Örnek</th>
</tr>
<tr>
<td>==</td>
<td>İki değer birbirine eşitse True, değilse False değer döner.</td>
<td> 2 == 2 (True) ,  2 == 3 (False)</td>
</tr>
<tr>
<td>!=</td>
<td>İki değer birbirine eşit değilse True, diğer durumda False döner.</td>
<td>2 != 2 (False), 2 != 3 (True)</td>
</tr>
<tr>
<td>&gt;</td>
<td>Soldaki değer sağdaki değerden büyükse True, değilse False döner. </td>
<td> 3 > 2 (True), 2 > 3 (False)</td>
</tr>
<tr>
<td>&lt;</td>
<td>Soldaki değer sağdaki değerden küçükse True, değilse False döner.</td>
<td> 2 &lt; 3 (True) , 3 &lt; 2 (False) </td>
</tr>
<tr>
<td>&gt;=</td>
<td>Soldaki değer sağdaki değerden büyükse veya sağdaki değere eşitse True, değilse False döner.</td>
<td> 3 &gt;= 2 (True),3 &gt;= 3 (True) , 2 &gt;= 3 (False)</td>
</tr>
<tr>
<td>&lt;=</td>
<td>Soldaki değer sağdaki değerden küçükse veya sağdaki değere eşitse True, değilse False döner.</td>
<td> 3 &lt;= 2 (False),3 &lt;= 3 (True) , 2 &lt;= 3 (True) </td>
</tr>
</table>

In [12]:
"Mehmet" == "Mehmet"

True

In [13]:
"Mehmet" == "Ali"

False

In [14]:
"Mehmet" != "irşad"

True

In [1]:
"Oğuz" < "irşad" # It looks alphabetically.

True

In [16]:
2 < 3

True

In [17]:
54 >= 54

True

In [18]:
98 > 32

True

In [19]:
34 <= 45

True

WELL DONE !!!