# Data type Conversions
Converting datatypes to each other is very important in Python and most other programming languages. Sometimes converting a decimal number to an integer, or even converting a string to an integer, is very important when we write our programs. In this topic, we will try to learn about such transformations.

### Converting Integer to Decimal Number

We can use the *float()* function to convert an integer value to a decimal number (float). Let's look at examples.

In [1]:
# We enclose the number to be translated in parentheses.
a = 43
float(a)

43.0

In [2]:
float(-1)

-1.0

In [3]:
float(9)

9.0

### Converting Decimal Number to Integer

We can use the *int()* function to convert a decimal number to an integer. The result will appear as the whole part of the decimal number. Let's look at the examples.

In [4]:
int(4.7)

4

In [5]:
int(3.14)

3

In [6]:
int(10.3435435345345345)

10

In [1]:
a = 5
b = 2
int(a/b)

2

### Converting Numbers to Strings

We can use *str()* function to convert a number to string. All digits or dots that make up the number will be converted to a character.

In [8]:
a = 32324324
b = str(a)
b

'32324324'

In [9]:
len(b)

8

In [2]:
t = 3.14343
y = str(t)
y

'3.14343'

In [3]:
len(y)

7

### Converting Strings to Integers

When we want to convert a string to an integer, we can use the *int()* function. However, we have to be a little careful. While doing the conversion, we have to make sure that each character of the string is a *digit*. Let's look at examples.

In [11]:
# corract
a = "32434324324234"
b = int(a)
b

32434324324234

In [12]:
# Incorrect - Each character must be in base 10.
a = "dasdasd343435"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'dasdasd343435'

### Converting Strings to Decimals

When we want to convert a string to a decimal number, we can use the *float()* function. However, we have to be a little careful. While doing the conversion, we must make sure that the string conforms to the decimal number format. Let's look at examples.

In [13]:
# corract code
a = "3.1444545"
b = float(a)
b

3.1444545

In [14]:
# incorract code
a = "3.14.324324"
b = float(a)
b

ValueError: could not convert string to float: '3.14.324324'

WELL DONE !!!